.menu-first {
    font-size: 18px;
}

.menu-second {
    font-size: 16px;
    padding-left: 30px;
    color: #999;
}

.nav-list > li {
    line-height: 30px;
    /*letter-spacing: 0.1em;*/
}

.nav-list > li > a {
    padding: 5px 15px;
}
