<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spartan.dao.EndCarteContentMapper">
    <resultMap id="BaseResultMap" type="com.spartan.model.EndCarteContent">
        <id column="ECC_ID" property="eccId" jdbcType="INTEGER"/>
        <result column="ECC_Dish_Num" property="eccDishNum" jdbcType="INTEGER"/>
        <result column="ECC_Total_Price" property="eccTotalPrice" jdbcType="DECIMAL"/>
        <result column="ECC_Specil_Desc" property="eccSpecilDesc" jdbcType="VARCHAR"/>
        <result column="del_Flag" property="delFlag" jdbcType="TINYINT"/>
        <result column="last_SubTime" property="lastSubtime" jdbcType="TIMESTAMP"/>
        <association property="endCarteInfo" column="ECC_ECI_ID" javaType="com.spartan.model.EndCarteInfo"
                     resultMap="com.spartan.dao.EndCarteInfoMapper.SimpleResultMap"></association>
        <association property="dish" column="ECC_Dish_ID" javaType="com.spartan.model.Dish"
                     resultMap="com.spartan.dao.DishMapper.SimpleResultMap"></association>
        <association property="user" column="subBy" javaType="com.spartan.model.User" resultMap="com.spartan.dao.UserMapper.SimpleResultMap">
        </association>
    </resultMap>
    <resultMap id="SimpleResultMap" type="com.spartan.model.EndCarteContent">
        <id column="ECC_ID" property="eccId" jdbcType="INTEGER"/>
        <result column="ECC_Total_Price" property="eccTotalPrice" jdbcType="DECIMAL"/>
        <association property="endCarteInfo" column="ECC_ECI_ID" javaType="com.spartan.model.EndCarteInfo"
                     resultMap="com.spartan.dao.EndCarteInfoMapper.SimpleResultMap"></association>
        <association property="dish" column="ECC_Dish_ID" javaType="com.spartan.model.Dish"
                     resultMap="com.spartan.dao.DishMapper.SimpleResultMap"></association>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    m.ECC_ID, m.ECC_ECI_ID, m.ECC_Dish_ID, m.ECC_Dish_Num, m.ECC_Total_Price, m.ECC_Specil_Desc
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.spartan.model.EndCarteContentExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>,
        <include refid="com.spartan.dao.common.Column_Master_LastSubtime"/>,
        <include refid="com.spartan.dao.common.Column_Master_CUD"/>,
        <include refid="com.spartan.dao.UserMapper.Column_SubBy_Employee"/>,
        f.ECI_ID,f.ECI_Swift_Number,fi.dish_Id,fi.dish_Name,fi.dish_Speel,fi.dish_Price,fi.dish_Img_Url
        from t_endcartecontent m
        <include refid="com.spartan.dao.UserMapper.LEFTJOIN_SubBy_Employee"/>
        LEFT JOIN t_endCarteInfo f ON m.ECC_ECI_ID=f.ECI_ID
        LEFT JOIN t_dish fi ON m.ECC_Dish_ID=fi.dish_Id
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>,
        <include refid="com.spartan.dao.common.Column_Master_LastSubtime"/>,
        <include refid="com.spartan.dao.common.Column_Master_CUD"/>,
        <include refid="com.spartan.dao.UserMapper.Column_SubBy_Employee"/>,
        f.ECI_ID,f.ECI_Swift_Number,fi.dish_Id,fi.dish_Name,fi.dish_Speel,fi.dish_Price,fi.dish_Img_Url
        from t_endcartecontent m
        <include refid="com.spartan.dao.UserMapper.LEFTJOIN_SubBy_Employee"/>
        LEFT JOIN t_endCarteInfo f ON m.ECC_ECI_ID=f.ECI_ID
        LEFT JOIN t_dish fi ON m.ECC_Dish_ID=fi.dish_Id
        where m.ECC_ID = #{eccId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete m from t_endcartecontent m
    where ECC_ID = #{eccId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.spartan.model.EndCarteContentExample">
        delete m from t_endcartecontent m
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.spartan.model.EndCarteContent">
    insert into t_endcartecontent (ECC_ID, ECC_ECI_ID, ECC_Dish_ID, 
      ECC_Dish_Num, ECC_Total_Price, ECC_Specil_Desc,
      del_Flag, last_SubTime, subBy
      )
    values (#{eccId,jdbcType=INTEGER}, #{endCarteInfo.eciId,jdbcType=INTEGER}, #{dish.dishId,jdbcType=INTEGER},
      #{eccDishNum,jdbcType=INTEGER}, #{eccTotalPrice,jdbcType=DECIMAL}, #{eccSpecilDesc,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{lastSubtime,jdbcType=TIMESTAMP}, #{user.userId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.spartan.model.EndCarteContent">
        insert into t_endcartecontent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eccId != null">
                ECC_ID,
            </if>
            <if test="endCarteInfo != null">
                ECC_ECI_ID,
            </if>
            <if test="dish!= null">
                ECC_Dish_ID,
            </if>
            <if test="eccDishNum != null">
                ECC_Dish_Num,
            </if>
            <if test="eccTotalPrice != null">
                ECC_Total_Price,
            </if>
            <if test="eccSpecilDesc != null">
                ECC_Specil_Desc,
            </if>
            <if test="delFlag != null">
                del_Flag,
            </if>
            <if test="lastSubtime != null">
                last_SubTime,
            </if>
            <if test="user != null">
                subBy,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eccId != null">
                #{eccId,jdbcType=INTEGER},
            </if>
            <if test="endCarteInfo != null">
                #{endCarteInfo.eciId,jdbcType=INTEGER},
            </if>
            <if test="dish != null">
                #{dish.dishId,jdbcType=INTEGER},
            </if>
            <if test="eccDishNum != null">
                #{eccDishNum,jdbcType=INTEGER},
            </if>
            <if test="eccTotalPrice != null">
                #{eccTotalPrice,jdbcType=DECIMAL},
            </if>
            <if test="eccSpecilDesc != null">
                #{eccSpecilDesc,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="lastSubtime != null">
                #{lastSubtime,jdbcType=TIMESTAMP},
            </if>
            <if test="user != null">
                #{user.userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.spartan.model.EndCarteContentExample" resultType="java.lang.Integer">
        select count(*) from t_endcartecontent m
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_endcartecontent m
        <set>
            <if test="record.eccId != null">
                ECC_ID = #{record.eccId,jdbcType=INTEGER},
            </if>
            <if test="record.endCarteInfo!= null">
                ECC_ECI_ID = #{record.endCarteInfo.eciId,jdbcType=INTEGER},
            </if>
            <if test="record.dish != null">
                ECC_Dish_ID = #{record.dish.dishId,jdbcType=INTEGER},
            </if>
            <if test="record.eccDishNum != null">
                ECC_Dish_Num = #{record.eccDishNum,jdbcType=INTEGER},
            </if>
            <if test="record.eccTotalPrice != null">
                ECC_Total_Price = #{record.eccTotalPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.eccSpecilDesc != null">
                ECC_Specil_Desc = #{record.eccSpecilDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.delFlag != null">
                del_Flag = #{record.delFlag,jdbcType=TINYINT},
            </if>
            <if test="record.lastSubtime != null">
                last_SubTime = #{record.lastSubtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.user != null">
                subBy = #{record.user.userId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_endcartecontent m
        set ECC_ID = #{record.eccId,jdbcType=INTEGER},
        ECC_ECI_ID = #{record.endCarteInfo.eciId,jdbcType=INTEGER},
        ECC_Dish_ID = #{record.dish.dishId,jdbcType=INTEGER},
        ECC_Dish_Num = #{record.eccDishNum,jdbcType=INTEGER},
        ECC_Total_Price = #{record.eccTotalPrice,jdbcType=DECIMAL},
        ECC_Specil_Desc = #{record.eccSpecilDesc,jdbcType=VARCHAR},
        del_Flag = #{record.delFlag,jdbcType=TINYINT},
        last_SubTime = #{record.lastSubtime,jdbcType=TIMESTAMP},
        subBy = #{record.user.userId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.spartan.model.EndCarteContent">
        update t_endcartecontent m
        <set>
            <if test="endCarteInfo!= null">
                ECC_ECI_ID = #{endCarteInfo.eciId,jdbcType=INTEGER},
            </if>
            <if test="dish!= null">
                ECC_Dish_ID = #{dish.dishId,jdbcType=INTEGER},
            </if>
            <if test="eccDishNum != null">
                ECC_Dish_Num = #{eccDishNum,jdbcType=INTEGER},
            </if>
            <if test="eccTotalPrice != null">
                ECC_Total_Price = #{eccTotalPrice,jdbcType=DECIMAL},
            </if>
            <if test="eccSpecilDesc != null">
                ECC_Specil_Desc = #{eccSpecilDesc,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_Flag = #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="lastSubtime != null">
                last_SubTime = #{lastSubtime,jdbcType=TIMESTAMP},
            </if>
            <if test="user != null">
                subBy = #{user.userId,jdbcType=INTEGER},
            </if>
        </set>
        where ECC_ID = #{eccId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.spartan.model.EndCarteContent">
    update t_endcartecontent m
    set ECC_ECI_ID = #{endCarteInfo.eciId,jdbcType=INTEGER},
      ECC_Dish_ID = #{dish.dishId,jdbcType=INTEGER},
      ECC_Dish_Num = #{eccDishNum,jdbcType=INTEGER},
      ECC_Total_Price = #{eccTotalPrice,jdbcType=DECIMAL},
      ECC_Specil_Desc = #{eccSpecilDesc,jdbcType=VARCHAR},
      del_Flag = #{delFlag,jdbcType=TINYINT},
      last_SubTime = #{lastSubtime,jdbcType=TIMESTAMP},
      subBy = #{user.userId,jdbcType=INTEGER}
    where ECC_ID = #{eccId,jdbcType=INTEGER}
  </update>
</mapper>