<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spartan.dao.OnAccountCarteContentMapper">
    <resultMap id="BaseResultMap" type="com.spartan.model.OnAccountCarteContent">
        <id column="OCC_ID" property="occId" jdbcType="INTEGER"/>
        <result column="OCC_Dish_Num" property="occDishNum" jdbcType="INTEGER"/>
        <result column="OCC_Total_Price" property="occTotalPrice" jdbcType="DECIMAL"/>
        <result column="OCC_Specil_Desc" property="occSpecilDesc" jdbcType="VARCHAR"/>
        <result column="del_Flag" property="delFlag" jdbcType="TINYINT"/>
        <result column="last_SubTime" property="lastSubtime" jdbcType="TIMESTAMP"/>
        <association property="onAccountCarteInfo" column="OCC_OCI_ID" javaType="com.spartan.model.OnAccountCarteInfo"
                     resultMap="com.spartan.dao.OnAccountCarteInfoMapper.SimpleResultMap">
        </association>
        <association property="dish" column="OCC_Dish_ID" javaType="com.spartan.model.Dish" resultMap="com.spartan.dao.DishMapper.SimpleResultMap">
        </association>
        <association property="user" column="subBy" javaType="com.spartan.model.User" resultMap="com.spartan.dao.UserMapper.SimpleResultMap">
        </association>
    </resultMap>
    <resultMap id="SimpleResultMap" type="com.spartan.model.OnAccountCarteContent">
        <id column="OCC_ID" property="occId" jdbcType="INTEGER"/>
        <result column="OCC_Total_Price" property="occTotalPrice" jdbcType="DECIMAL"/>
        <association property="onAccountCarteInfo" column="OCC_OCI_ID" javaType="com.spartan.model.OnAccountCarteInfo"
                     resultMap="com.spartan.dao.OnAccountCarteInfoMapper.SimpleResultMap">
        </association>
        <association property="dish" column="OCC_Dish_ID" javaType="com.spartan.model.Dish"
                     resultMap="com.spartan.dao.DishMapper.SimpleResultMap">
        </association>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    m.OCC_ID, m.OCC_OCI_ID, m.OCC_Dish_ID, m.OCC_Dish_Num, m.OCC_Total_Price, m.OCC_Specil_Desc
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.spartan.model.OnAccountCarteContentExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>,
        <include refid="com.spartan.dao.common.Column_Master_LastSubtime"/>,
        <include refid="com.spartan.dao.common.Column_Master_CUD"/>,
        <include refid="com.spartan.dao.UserMapper.Column_SubBy_Employee"/>
        f.OCI_ID,f.OCI_Swift_Number,fi.dish_Id,fi.dish_Name,fi.dish_Speel,fi.dish_Price,fi.dish_Img_Url
        from t_onaccountcartecontent m
        <include refid="com.spartan.dao.UserMapper.LEFTJOIN_SubBy_Employee"/>
        LEFT JOIN t_onaccountCarteInfo f ON m.OCC_OCI_ID=f.OCI_ID
        LEFT JOIN t_dish fi ON m.OCC_Dish_ID=fi.dish_Id
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>,
        <include refid="com.spartan.dao.common.Column_Master_LastSubtime"/>,
        <include refid="com.spartan.dao.common.Column_Master_CUD"/>,
        <include refid="com.spartan.dao.UserMapper.Column_SubBy_Employee"/>
        f.OCI_ID,f.OCI_Swift_Number,fi.dish_Id,fi.dish_Name,fi.dish_Speel,fi.dish_Price,fi.dish_Img_Url
        from t_onaccountcartecontent m
        <include refid="com.spartan.dao.UserMapper.LEFTJOIN_SubBy_Employee"/>
        LEFT JOIN t_onaccountCarteInfo f ON m.OCC_OCI_ID=f.OCI_ID
        LEFT JOIN t_dish fi ON m.OCC_Dish_ID=fi.dish_Id
        where OCC_ID = #{occId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete m from t_onaccountcartecontent m
    where OCC_ID = #{occId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.spartan.model.OnAccountCarteContentExample">
        delete m from t_onaccountcartecontent m
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.spartan.model.OnAccountCarteContent">
    insert into t_onaccountcartecontent (OCC_ID, OCC_OCI_ID, OCC_Dish_ID, 
      OCC_Dish_Num, OCC_Total_Price, OCC_Specil_Desc, 
      del_Flag, subBy
      )
    values (#{occId,jdbcType=INTEGER}, #{onAccountCarteInfo.ociId,jdbcType=INTEGER}, #{dish.dishId,jdbcType=INTEGER},
      #{occDishNum,jdbcType=INTEGER}, #{occTotalPrice,jdbcType=DECIMAL}, #{occSpecilDesc,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT},#{user.userId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.spartan.model.OnAccountCarteContent">
        insert into t_onaccountcartecontent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="occId != null">
                OCC_ID,
            </if>
            <if test="onAccountCarteInfo!= null">
                OCC_OCI_ID,
            </if>
            <if test="dish != null">
                OCC_Dish_ID,
            </if>
            <if test="occDishNum != null">
                OCC_Dish_Num,
            </if>
            <if test="occTotalPrice != null">
                OCC_Total_Price,
            </if>
            <if test="occSpecilDesc != null">
                OCC_Specil_Desc,
            </if>
            <if test="delFlag != null">
                del_Flag,
            </if>
            <if test="lastSubtime != null">
                last_SubTime,
            </if>
            <if test="user != null">
                subBy,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="occId != null">
                #{occId,jdbcType=INTEGER},
            </if>
            <if test="onAccountCarteInfo != null">
                #{onAccountCarteInfo.ociId,jdbcType=INTEGER},
            </if>
            <if test="dish != null">
                #{dish.dishId,jdbcType=INTEGER},
            </if>
            <if test="occDishNum != null">
                #{occDishNum,jdbcType=INTEGER},
            </if>
            <if test="occTotalPrice != null">
                #{occTotalPrice,jdbcType=DECIMAL},
            </if>
            <if test="occSpecilDesc != null">
                #{occSpecilDesc,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="lastSubtime != null">
                #{lastSubtime,jdbcType=TIMESTAMP},
            </if>
            <if test="user != null">
                #{user.userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.spartan.model.OnAccountCarteContentExample" resultType="java.lang.Integer">
        select count(*) from t_onaccountcartecontent m
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_onaccountcartecontent m
        <set>
            <if test="record.occId != null">
                OCC_ID = #{record.occId,jdbcType=INTEGER},
            </if>
            <if test="record.onAccountCarteInfo != null">
                OCC_OCI_ID = #{record.onAccountCarteInfo.ociId,jdbcType=INTEGER},
            </if>
            <if test="record.dish != null">
                OCC_Dish_ID = #{record.dish.dishId,jdbcType=INTEGER},
            </if>
            <if test="record.occDishNum != null">
                OCC_Dish_Num = #{record.occDishNum,jdbcType=INTEGER},
            </if>
            <if test="record.occTotalPrice != null">
                OCC_Total_Price = #{record.occTotalPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.occSpecilDesc != null">
                OCC_Specil_Desc = #{record.occSpecilDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.delFlag != null">
                del_Flag = #{record.delFlag,jdbcType=TINYINT},
            </if>
            <if test="record.lastSubtime != null">
                last_SubTime = #{record.lastSubtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.user != null">
                subBy = #{record.user.userId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_onaccountcartecontent m
        set OCC_ID = #{record.occId,jdbcType=INTEGER},
        OCC_OCI_ID = #{record.onAccountCarteInfo.ociId,jdbcType=INTEGER},
        OCC_Dish_ID = #{record.dish.dishId,jdbcType=INTEGER},
        OCC_Dish_Num = #{record.occDishNum,jdbcType=INTEGER},
        OCC_Total_Price = #{record.occTotalPrice,jdbcType=DECIMAL},
        OCC_Specil_Desc = #{record.occSpecilDesc,jdbcType=VARCHAR},
        del_Flag = #{record.delFlag,jdbcType=TINYINT},
        subBy = #{record.user.userId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.spartan.model.OnAccountCarteContent">
        update t_onaccountcartecontent m
        <set>
            <if test="onAccountCarteInfo != null">
                OCC_OCI_ID = #{onAccountCarteInfo.ociId,jdbcType=INTEGER},
            </if>
            <if test="dish != null">
                OCC_Dish_ID = #{dish.dishId,jdbcType=INTEGER},
            </if>
            <if test="occDishNum != null">
                OCC_Dish_Num = #{occDishNum,jdbcType=INTEGER},
            </if>
            <if test="occTotalPrice != null">
                OCC_Total_Price = #{occTotalPrice,jdbcType=DECIMAL},
            </if>
            <if test="occSpecilDesc != null">
                OCC_Specil_Desc = #{occSpecilDesc,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_Flag = #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="lastSubtime != null">
                last_SubTime = #{lastSubtime,jdbcType=TIMESTAMP},
            </if>
            <if test="user != null">
                subBy = #{user.userId,jdbcType=INTEGER},
            </if>
        </set>
        where OCC_ID = #{occId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.spartan.model.OnAccountCarteContent">
    update t_onaccountcartecontent m
    set OCC_OCI_ID = #{onAccountCarteInfo.ociId,jdbcType=INTEGER},
      OCC_Dish_ID = #{dish.dishId,jdbcType=INTEGER},
      OCC_Dish_Num = #{occDishNum,jdbcType=INTEGER},
      OCC_Total_Price = #{occTotalPrice,jdbcType=DECIMAL},
      OCC_Specil_Desc = #{occSpecilDesc,jdbcType=VARCHAR},
      del_Flag = #{delFlag,jdbcType=TINYINT},
      subBy = #{user.userId,jdbcType=INTEGER}
    where OCC_ID = #{occId,jdbcType=INTEGER}
  </update>
</mapper>