<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spartan.dao.PowerMapper" >
  <resultMap id="BaseResultMap" type="com.spartan.model.Power" >
    <id column="power_Id" property="powerId" jdbcType="INTEGER" />
    <result column="power_Name" property="powerName" jdbcType="VARCHAR" />
    <result column="power_Type" property="powerType" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="parent_Id" property="parentId" jdbcType="INTEGER" />
    <result column="parent_Ids" property="parentIds" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="del_Flag" property="delFlag" jdbcType="TINYINT" />
    <result column="last_SubTime" property="lastSubtime" jdbcType="TIMESTAMP" />
    <result column="subBy" property="subby" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_power
    where power_Id = #{powerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.spartan.model.Power" >
    insert into t_power (power_Id, power_Name, power_Type, 
      priority, parent_Id, parent_Ids, 
      permission, del_Flag, subBy
      )
    values (#{powerId,jdbcType=INTEGER}, #{powerName,jdbcType=VARCHAR}, #{powerType,jdbcType=VARCHAR},
      #{priority,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{parentIds,jdbcType=VARCHAR},
      #{permission,jdbcType=VARCHAR}, #{delFlag,jdbcType=TINYINT}, #{subby,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.spartan.model.Power" >
    update t_power
    set power_Name = #{powerName,jdbcType=VARCHAR},
      power_Type = #{powerType,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      parent_Id = #{parentId,jdbcType=INTEGER},
      parent_Ids = #{parentIds,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR},
      del_Flag = #{delFlag,jdbcType=TINYINT},
      subBy = #{subby,jdbcType=INTEGER}
    where power_Id = #{powerId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select power_Id, power_Name, power_Type, priority, parent_Id, parent_Ids, permission, 
    del_Flag, last_SubTime, subBy
    from t_power
    where power_Id = #{powerId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select power_Id, power_Name, power_Type, priority, parent_Id, parent_Ids, permission, 
    del_Flag, last_SubTime, subBy
    from t_power
  </select>
</mapper>