<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spartan.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.spartan.model.Role" >
    <id column="role_ID" property="roleId" jdbcType="INTEGER" />
    <result column="role_Name" property="roleName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="power_Ids" property="powerIds" jdbcType="VARCHAR" />
    <result column="del_Flag" property="delFlag" jdbcType="TINYINT" />
    <result column="last_SubTime" property="lastSubtime" jdbcType="TIMESTAMP" />
    <result column="subBy" property="subby" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_role
    where role_ID = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.spartan.model.Role" >
    insert into t_role (role_ID, role_Name, description, 
      power_Ids, del_Flag, last_SubTime, 
      subBy)
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{powerIds,jdbcType=VARCHAR}, #{delFlag,jdbcType=TINYINT}, #{lastSubtime,jdbcType=TIMESTAMP}, 
      #{subby,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.spartan.model.Role" >
    update t_role
    set role_Name = #{roleName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      power_Ids = #{powerIds,jdbcType=VARCHAR},
      del_Flag = #{delFlag,jdbcType=TINYINT},
      last_SubTime = #{lastSubtime,jdbcType=TIMESTAMP},
      subBy = #{subby,jdbcType=INTEGER}
    where role_ID = #{roleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select role_ID, role_Name, description, power_Ids, del_Flag, last_SubTime, subBy
    from t_role
    where role_ID = #{roleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select role_ID, role_Name, description, power_Ids, del_Flag, last_SubTime, subBy
    from t_role
  </select>
</mapper>