<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spartan.dao.TempCarteContentMapper" >
  <resultMap id="BaseResultMap" type="com.spartan.model.TempCarteContent" >
    <id column="TCC_ID" property="tccId" jdbcType="INTEGER" />
    <result column="TCI_Swift_Number" property="tciSwiftNumber" jdbcType="VARCHAR" />
    <result column="TCC_Dish_ID" property="tccDishId" jdbcType="INTEGER" />
    <result column="TCC_Dish_Num" property="tccDishNum" jdbcType="INTEGER" />
    <result column="TCC_Total_Price" property="tccTotalPrice" jdbcType="DECIMAL" />
    <result column="TCC_Specil_Desc" property="tccSpecilDesc" jdbcType="VARCHAR" />
    <result column="del_Flag" property="delFlag" jdbcType="TINYINT" />
    <result column="last_SubTime" property="lastSubtime" jdbcType="TIMESTAMP" />
    <result column="subBy" property="subby" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_tempcartecontent
    where TCC_ID = #{tccId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.spartan.model.TempCarteContent" >
    insert into t_tempcartecontent (TCC_ID, TCI_Swift_Number, TCC_Dish_ID, 
      TCC_Dish_Num, TCC_Total_Price, TCC_Specil_Desc, 
      del_Flag, last_SubTime, subBy
      )
    values (#{tccId,jdbcType=INTEGER}, #{tciSwiftNumber,jdbcType=VARCHAR}, #{tccDishId,jdbcType=INTEGER}, 
      #{tccDishNum,jdbcType=INTEGER}, #{tccTotalPrice,jdbcType=DECIMAL}, #{tccSpecilDesc,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{lastSubtime,jdbcType=TIMESTAMP}, #{subby,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.spartan.model.TempCarteContent" >
    update t_tempcartecontent
    set TCI_Swift_Number = #{tciSwiftNumber,jdbcType=VARCHAR},
      TCC_Dish_ID = #{tccDishId,jdbcType=INTEGER},
      TCC_Dish_Num = #{tccDishNum,jdbcType=INTEGER},
      TCC_Total_Price = #{tccTotalPrice,jdbcType=DECIMAL},
      TCC_Specil_Desc = #{tccSpecilDesc,jdbcType=VARCHAR},
      del_Flag = #{delFlag,jdbcType=TINYINT},
      last_SubTime = #{lastSubtime,jdbcType=TIMESTAMP},
      subBy = #{subby,jdbcType=INTEGER}
    where TCC_ID = #{tccId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select TCC_ID, TCI_Swift_Number, TCC_Dish_ID, TCC_Dish_Num, TCC_Total_Price, TCC_Specil_Desc, 
    del_Flag, last_SubTime, subBy
    from t_tempcartecontent
    where TCC_ID = #{tccId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select TCC_ID, TCI_Swift_Number, TCC_Dish_ID, TCC_Dish_Num, TCC_Total_Price, TCC_Specil_Desc, 
    del_Flag, last_SubTime, subBy
    from t_tempcartecontent
  </select>
</mapper>